{% extends "orders/layout.html" %}

{% block body %}
  <h1>Menu</h1>
  {% if message %}
      <div>
          {{ message }}
      </div>
  {% endif %}

  <h2>Pizza</h2>
  {% for crust in crusts %}
    <h3>{{ crust }}</h3>
    {% for style in styles %}
      <h4>{{ style }}</h4>
      <select>
        <option value="" disabled selected>Choose size</option>
        {% for size in sizes %}
          {% with pizzas|get_item:crust.name|get_item:style.name|get_item:size.name as pizza %}
            <option value='{{ pizza|get_item:"id" }}'>{{ size}} - ${{ pizza|get_item:"price" }}</option>
          {% endwith %}
        {% endfor %}


        </select>


      <div>{% include "orders/topping.html" %}</div>
    {% endfor %}
  {% endfor %}
  
{% endblock %}
